*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    height: 80lvh;
    background-color: antiquewhite;
}
#display {
    width: 85%;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: right;
}
.row{
    display: flex;
    margin: 10px;
    display: inline-block;
    padding: 0%;
}
.btn, .oper, .res{
    color: #fff;
    padding: 25px;
    font-size: larger;
    background-color: rgb(39, 9, 146);
    border: 1px solid black;
    border-radius: 20%;
    margin-left: 23px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.oper{
    
    color: #fff;
    background-color: black;
}
.res{
    color: #fff;
    background-color: red;
}


@media only screen and (max-width: 768px) {
    .btn,
    .oper,
    .res {
        padding: 25px; 
        font-size: medium;
    }
    .container{
        height: 75lvh;
    }
}

@media only screen and (max-width: 500px) {
    .btn,
    .oper,
    .res {
        padding: 20px; 
        font-size: small;
    }
    .container{
        height: 65lvh;
    }
}
